server:
  port: 80

spring:
  datasource:
    url: jdbc:postgresql://${PROD_SERVER}:${PROD_PORT}/${PROD_DB}
    username: ${PROD_DB_USERNAME}
    password: ${PROD_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    dev.jimmiehaskell.ppp_backend: INFO