server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ppp_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    dev.jimmiehaskell.ppp_backend: DEBUG
    org.hibernate.sql: DEBUG