server:
  port: 8080

spring:
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:postgresql://localhost:5430/ppp_dev_db
    username: postgres
    password: postgres
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    dev.jimmiehaskell.ppp_backend: DEBUG
    org.hibernate.sql: DEBUG